html, body {
  background-image: url('https://images.unsplash.com/photo-1640725633496-96aec00d1ab2?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  

  height: 80%;
  margin:0;
  padding: 0;
}

.icon {
  font-family: "Dela Gothic One";
  font-weight: 50;
  font-style:normal;
  font-size: 130%;
  color: rgb(255, 255, 255);
  margin-left: 60px;
}

.txt {
  font-family: "Dela Gothic One";
  font-weight: 100;
  font-style:normal;
  font-size: 750%;
  color: rgb(255, 255, 255);
 
  margin-top: 10px;
}

.txt2 {
  font-family: "Dela Gothic One";
  font-weight: 100;
  font-style:normal;
  font-size: 400%;
  color:  #d46300;
  margin-top: -90px;
}


p{
  color: white;
  font-family: "Delius";
  font-weight: 0;
  font-style:normal;

  
  font-size: 14px;
  position: static;
  display: block;
 

}
.txttitle{
  margin-left: 150px;
}

.container{

  /* background-color: #d4d5d6dd; */
   background-color: #d4d5d6e8;
  padding: 100px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
  width: 100%;
  max-width: 230px;
  height: 100%;
  max-height: 400px;

  position: absolute;
  right: 60px;         /* space from the right edge */
  top: 50%;
  transform: translateY(-50%);
}

.logintxt {
  width: 100%;
  height: auto;
  transform: translate(18%, -300%);
  font-family: "inter";
  font-weight: 400;
}

.input{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
  transform: translateY(-10%);
  transform: translateX(-3%);
   margin-bottom: 30px;
}
.btnlogin{
  width: 109%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #d46300;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transform: translate(-3%, -10%);
}

.btnregister{
  width: 109%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #ede2d9f3;
  color:#d46300;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transform: translate(-3%, -10%);
}

.inputs{
  transform: translateY(-20%);
}

.switch {
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  font-family: "inter";
}

.switch a {
  display: inline;
  color:#d46300;
  text-decoration: none;
}


/*(phones, 424px below) */
@media (max-width: 500px) {
    
   body {
    height: auto;
    margin: 0;
    padding: 0;
    
  }
  .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust 0.5 to make it darker/lighter */
  z-index: 0;
  padding: 100%;
  }

 
 .content {
  position: relative;
  z-index: 1; /* Ensure it's above the dark layer */
  }
  .icon {
    margin-left: 10px;
    font-size: 80%;
  }
  .txttitle{
    margin-left: 10px;
    font-size: 60%;
    text-align: center;
  }
  .txt2{
    margin-top: -17%;
  }
  .logintxt{
    text-align: left;
    margin-left: -7%;
  }
  .container {
    width: 40%;
    height: auto;
    max-height: 300px;
    margin-left: 19%;
    margin-top: 20%;
    transform: none; /* Remove any previous translateX() */
    position: relative; /* Change to relative for better responsiveness */

  }

.inputs {
  width: 180%;         
  margin: 10px 0;
  padding: 10px;
  margin-left:-40%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.switch{
  margin-left: -39%;
}

}
/*(phones, 376px - 425px) */
@media (max-width: 600px) {
  .container{
    width: 50%;
    height: auto;

    margin-top: 20%;
    transform: none; /* Remove any previous translateX() */
    position: relative; /* Change to relative for better responsiveness */
  }

   .txttitle{
    margin-left: 10px;
    font-size: 60%;
    text-align: center;
  }
  .txt2{
    margin-top: -14%;
  }
  .logintxt{
    text-align: left;
    margin-left: -7%;
  }
  .inputs {
  width: 180%;         
  margin: 10px 0;
  padding: 10px;
  margin-left:-40%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btnlogin{
   width: 110%; 
}
}


/*(phones, 376px - 425px) */
@media (max-width: 700px) {
 
}

/*(tablets, 426px - 768px) */
@media (max-width: 768px) {

  .txttitle{
    text-align: center;
    margin-left: 5%;
  }

  p{
    font-size: 12px;
    margin-left: -5%;
 
  }    
   body {
    height: auto;
    margin: 0;
    padding: 0;
    
  }

   .container {
    width: 40%;
    height: auto;
    max-height: 300px;
    margin-left: 19%;
    margin-top: 20%;
    transform: none; 
    position: relative; 
  }
  .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust 0.5 to make it darker/lighter */
  z-index: 0;
  padding: 100%;
  }
 .content {
  position: relative;
  z-index: 1; /* Ensure it's above the dark layer */
  }
}

/*(laptops, 769px - 1024px) */
@media (max-width: 1024px) {
  

}

/*(desktops, 1025px - 1440px) */
@media (min-width: 1025px) {
  
 
}

/*(1441px and above) */
@media (min-width: 1441px) {

}

